@use "variables";
@use 'sass:color';

$sort-chevron-width: 5px;

.vgt-table{
  & th{
    padding: .75em .75em .75em .75em;
    vertical-align: middle;
    position: relative; 
    &.sortable{
      button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border: none;
        position: absolute;
        top: 0;
        inset-inline-end: 0;
        cursor:pointer;
        width: 1rem;
        height: 100%;
        &:focus{
          outline: none;
        }
        &:after{
          content: '';
          position: absolute;
          height: 0px;
          width: 0px;
          inset-inline-end: 6px;
          top: 50%;
          margin-top: -7px;
          border-inline: $sort-chevron-width solid transparent;
          border-bottom: $sort-chevron-width solid variables.$chevron-color;
        }
        &:before{
          content: '';
          position: absolute;
          height: 0px;
          width: 0px;
          inset-inline-end: 6px;
          top: 50%;
          margin-bottom: -7px;
          border-inline: $sort-chevron-width solid transparent;
          border-top: $sort-chevron-width solid variables.$chevron-color;
        }
      }
    }

    .drag {position:absolute;top:0; bottom:0; background-color: variables.$border-color; user-select: none; inset-inline-end: 0; width: 0.4rem; cursor: e-resize;}
  }
  & th.line-numbers, & th.vgt-checkbox-col {
    padding: 0 .75em 0 .75em;
    color: variables.$text-color;
    border-inline-end: 1px solid variables.$border-color;
    word-wrap: break-word;
    width: 25px;
    text-align: center;
    background: linear-gradient(variables.$thead-bg-color-1, variables.$thead-bg-color-2);
  }
  & th.filter-th {
    padding: .75em .75em .75em .75em;
  }

  th.vgt-row-header{
    border-bottom: 2px solid variables.$border-color;
    border-top: 2px solid variables.$border-color;
    background-color:  color.adjust(variables.$border-color, $lightness: 10%);
    .triangle {
      width: 24px;
      height: 24px;
      border-radius: 15%;
      position: relative;
      margin: 0px 8px;
      &:after {
        content: '';
        position: absolute;
        display: block;
        inset-inline-start: 50%;
        top: 50%;
        margin-top: -6px;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-inline-end: 6px solid variables.$text-color;
        margin-inline-end: -3px;
        transition: 0.3s ease transform;
      }
      &.expand:after {
        transform: rotate(90deg);
      }
    }
  }

  thead th{
    color: variables.$text-color;
    vertical-align: bottom;
    border-bottom:  1px solid variables.$border-color;
    padding-inline-end: 1.5em;
    background: linear-gradient(variables.$thead-bg-color-1, variables.$thead-bg-color-2);
    &.vgt-checkbox-col{
      vertical-align: middle;
    }
    &.sorting-asc button {
      &:after{
        border-bottom: $sort-chevron-width solid variables.$link-color;
      }
    }
    &.sorting-desc button {
      &:before{
        border-top: $sort-chevron-width solid variables.$link-color;
      }
    }
  }
}
