@use 'sass:color';
@use 'overrides';
@use "../variables.scss";


// suggested by wifey
.vgt-table.nocturnal{
  border: 1px solid variables.$border-color;
  background-color: variables.$table-bg;

  & tr.clickable {
    &:hover{
      background-color: variables.$highlight-color;
    }
  }

  // td
  & td {
    border-bottom:  1px solid variables.$border-color;
    color: variables.$text-color;
  }

  //th
  & th.line-numbers, & th.vgt-checkbox-col {
    color: variables.$text-color;
    border-right: 1px solid variables.$border-color;
    background: linear-gradient(variables.$thead-bg-color-1, variables.$thead-bg-color-2);
  }
  thead th{
    color: variables.$text-color;
    border-bottom:  1px solid variables.$border-color;
    background: linear-gradient(variables.$thead-bg-color-1, variables.$thead-bg-color-2);
    &.sortable {
      // color: _$text-color, 15%);
      &:before{
        border-top-color: variables.$chevron-color;
      }
      &:after{
        border-bottom-color: variables.$chevron-color;
      }
      &.sorting-asc{
        color: white;
        &:after{
          border-bottom-color: variables.$link-color;
        }
      }
      &.sorting-desc {
        color: white;
        &:before{
          border-top-color: variables.$link-color;
        }
      }
    }
  }
  
  //bordered
  &.bordered td, &.bordered th {
      border: 1px solid variables.$border-color;
  }

  //input
  .vgt-input, .vgt-select{
    color: variables.$text-color;
    background-color: color.adjust(variables.$thead-bg-color-2, $lightness: -5%);
    border: 1px solid variables.$input-border-color;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: variables.$text-color;
      opacity: 0.3; /* Firefox */
    }
  }
}

.vgt-wrap.nocturnal{
  .vgt-wrap__footer{
    color: variables.$text-color;
    border: 1px solid variables.$border-color;
    background: linear-gradient(variables.$thead-bg-color-1, variables.$thead-bg-color-2);
    .footer__row-count{
      position: relative;
      &__label{
        color: variables.$secondary-text-color;
      }
      &__select{
        color:  variables.$text-color;
        background: color.adjust(variables.$thead-bg-color-2, $lightness: -5%);
        border: none;
        -webkit-appearance: none; 
        -moz-appearance: none;
        appearance: none;
        padding-right: 15px;
        padding-left: 10px;
        border-radius: 3px;
        text-align: center;
        &:focus{
          border-color: variables.$link-color;
        }
      }
      &::after{
        content: '';
        display: block;
        position: absolute;
        height: 0px;
        width: 0px;
        right: 6px;
        top: 50%;
        margin-top: -1px;
        border-top:  6px solid variables.$text-color;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: none;
        pointer-events: none
      }
    }
    .footer__navigation{
      &__page-btn{
        color: variables.$text-color;
        &.disabled,
        &.disabled:hover {
          .chevron.left:after{
            border-right-color: variables.$text-color;
          }
          .chevron.right:after{
            border-left-color: variables.$text-color;
          }
        }
      }
      &__info, &__page-info{
        color: variables.$secondary-text-color;
      }
    }
  }

  // control bar
  .vgt-global-search{
    border:  1px solid variables.$border-color;
    background: linear-gradient(variables.$thead-bg-color-1, variables.$thead-bg-color-2);
  }
  .vgt-global-search__input{
    .input__icon{
      .magnifying-glass{
        border: 2px solid color.adjust(variables.$border-color, $lightness: -2%);
        &:before{
          background:  color.adjust(variables.$border-color, $lightness: -2%);
        }
      }
    }
    .vgt-input, .vgt-select{
      color: variables.$text-color;
      background-color: color.adjust(variables.$thead-bg-color-2, $lightness: -5%);
      border: 1px solid variables.$input-border-color;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: variables.$text-color;
        opacity: 0.3; /* Firefox */
      }
    }
  }
}