@use "../variables";
@use 'sass:color';

$thead-bg-color-1: #4c5c79;
variables.$thead-bg-color-2: #4e5d7c;

variables.$chevron-color: color.adjust(variables.$thead-bg-color-1, $lightness: 10%);

variables.$text-color: #dae2f0;
$text-color-td: rgb(73, 81, 94);
$text-shadow-color:  color.adjust(#2C394F, $lightness: 10%);

variables.$secondary-text-color: rgb(152, 165, 185) ;
variables.$border-color: #435169;
$border-color-td: #bbc5d6;

variables.$input-border-color: transparent;
$input-bg: #34445f;

variables.$table-bg: #dfe5ee;
variables.$highlight-color:#fff;